# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules

# production directories
build

# dotenv environment variables file
.env
.env.test

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local